body {
  background-color: #343a40 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  width: 20px;
  height: 20px;
  line-height: 50px;
}

.textarea {
  resize: none;
}

.border-form {
  padding: 1rem;
  border: 0.2rem solid #ececec;
  border-radius: 8px;
}

.accordion-item {
  background-color: #343a40 !important;
}

.accordion-button {
  background-color: rgb(248, 249, 250) !important;
  color: #212529 !important;
}

.navHeader:hover {
color: #8D918D;
}


.message-editor {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.message-editor-title {
  color: #333;
  margin-bottom: 10px;
}

.message-editor-current {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.message-editor-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-editor-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.message-editor-button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-editor-button:hover,
.message-editor-button:disabled {
  background-color: #004494;
}

.message-editor-button:disabled {
  cursor: not-allowed;
}

.message-editor-success,
.message-editor-error {
  color: #3c763d; /* green for success */
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}